<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %level %logger{10} %method - %msg%n" />
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %level %logger{10} %method - %msg%n" />
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
	    <Root level="${env:LOG_LEVEL:-info}">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="STDERR" />
        </Root>
    </Loggers>
</Configuration>